*{
    margin:0;
    padding:0;
    
    
    
}
body{
    text-align: right;
    background-image: url("green field_photo.jpg");
    background-size: cover;
}

#container{
    height:500px;
    width:300px;
    border:2px solid black;
    background-color: rgb(52,235,207);
    line-height: 20px;
    border-radius: 40px;
    font-size: medium;
    margin-left: 600px;
    padding-top: 20px;
    text-align: left;
    padding-left: 100px;
    font-size: 20px;
    padding-bottom: 25px;
    
    
}
    
    


h3{
   
    padding-bottom: 20px;
    color:blue;
    
    
}
div{
    height:60px;
    width:400px;
    text-align: center;
    
}
h1{
    text-align: center;
    text-decoration: underline;
    margin-left: 730px;
}

.left-box {
    background-color: blue; 
    opacity: 0.8; 
    padding: 20px; 
    border-radius: 10px; 
}


.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

.navbar a:hover {
    color: yellow;
}

nav{
    margin-right: 100px;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    
}

a{
    margin-right: 200px;
    text-decoration: none;
    font-size: 20px;
    color:blue;
    
}
#login{
       width:60px;
       height:25px;
       color:white;
       margin-left: 70px;
       border-radius: 10px;
       padding: 2px;

}

input{
    text-align:left ;
}

#pack{
    width:220px;
    height: 20px;
    border-radius: 10px;
    border:2px solid green;
}